@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-size: "mulish";
  src: url("/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}

.hide {
  width: 87px;
  transition: all ease-in-out .2s;
}

.hide .header .list-header {
  background-color: #ff9900;
}

.hide .list .list-item .list-title,
.hide .header .list-header .header-title,
.hide .header .img {
  visibility: hidden;
}

.hide .toggle {
  left: 87px;
  transition: all ease-in-out .2s;
}